NITHM AI June 3rd/6 ZOMATO REVIEW SYSTEM/flows.json
[{"id":"1e072b6c.599b15","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c0870600.8021a8","type":"dashDB in","z":"1e072b6c.599b15","dashDB":"93d5ff5.a1105","service":"_ext_","query":"select \"Rating_Sentiment_Label\" from ZOMATO as \nZomato where \"Restaurant_ID\"=6304287\n","params":"","name":"","x":417,"y":55,"wires":[["e4bffa40.e50d68","eb0f29e0.02fb18"]]},{"id":"47b5b801.c36e28","type":"inject","z":"1e072b6c.599b15","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":160,"wires":[["c0870600.8021a8"]]},{"id":"e4bffa40.e50d68","type":"debug","z":"1e072b6c.599b15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":320,"wires":[]},{"id":"5152053b.af81ec","type":"ui_form","z":"1e072b6c.599b15","name":"","label":"","group":"5537fb5b.76d0c4","order":0,"width":0,"height":0,"options":[{"label":"Enter restuarant ID","value":"resid","type":"text","required":true}],"formValue":{"resid":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":132.5,"y":230,"wires":[["c0870600.8021a8"]]},{"id":"48ed786e.fa5e48","type":"ui_text","z":"1e072b6c.599b15","group":"5537fb5b.76d0c4","order":1,"width":0,"height":0,"name":"","label":"Rating Text","format":"{{msg.payload}}","layout":"row-spread","x":657.5,"y":214,"wires":[]},{"id":"eb0f29e0.02fb18","type":"function","z":"1e072b6c.599b15","name":"","func":"msg.payload=msg.payload.Rating_Sentiment_Label\nreturn msg;","outputs":1,"noerr":0,"x":552.5,"y":144,"wires":[["48ed786e.fa5e48"]]},{"id":"93d5ff5.a1105","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"5537fb5b.76d0c4","type":"ui_group","z":"","name":"Default","tab":"463b3c52.7f8874","disp":true,"width":"6","collapse":false},{"id":"463b3c52.7f8874","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]