SIP ML June 3rd/Team 9 - codeholics/flows.json
[{"id":"c005d96a.38d7d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9057fffe.2cf15","type":"http request","z":"c005d96a.38d7d8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/82716bf4-d8ec-4c91-8416-871632cc342d/deployments/414b6a7c-a8aa-47d8-9e6e-7a0716cd2660/online","tls":"","proxy":"","authType":"basic","x":790,"y":338,"wires":[["80d5a217.19e88","cd1d435c.a2035"]]},{"id":"f37d1d46.6aaa9","type":"function","z":"c005d96a.38d7d8","name":"prediction","func":"var token=msg.payload.token;\nvar h24_volume_usd=global.get(\"h24_volume_usd\");\nvar available_supply=global.get(\"available_supply\");\nvar last_updated=global.get(\"last_updated\");\nvar percent_change_1h=global.get(\"percent_change_1h\");\nvar percent_change_24h=global.get(\"percent_change_24h\");\nvar percent_change_7d=global.get(\"percent_change_7d\");\nvar price_btc=global.get(\"price_btc\");\nvar price_usd=global.get(\"price_usd\");\n\nmsg.payload={\"fields\":[\"h24_volume_usd\",\"available_supply\",\"last_updated\",\"percent_change_1h\",\"percent_change_24h\",\"percent_change_7d\",\"price_btc\",\"price_usd\"],\"values\":[[h24_volume_usd,available_supply,last_updated,percent_change_1h,percent_change_24h,percent_change_7d,price_btc,price_usd]]};\n//msg.payload=State;\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":260,"wires":[["9057fffe.2cf15","cd1d435c.a2035"]]},{"id":"cd1d435c.a2035","type":"debug","z":"c005d96a.38d7d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":220,"wires":[]},{"id":"654f6cb6.f90be4","type":"http request","z":"c005d96a.38d7d8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":530,"y":120,"wires":[["f4f83195.c65aa","f37d1d46.6aaa9"]]},{"id":"35689d3b.406522","type":"inject","z":"c005d96a.38d7d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["bef025dd.f10868"]]},{"id":"bef025dd.f10868","type":"function","z":"c005d96a.38d7d8","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"8b491520-0948-4e62-80d1-508e6f99ace2\";\nvar password=\"47b397b7-7d16-49ab-b358-bcfe75f12770\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"h24_volume_usd\",msg.payload.h24_volume_usd);\nglobal.set(\"available_supply\",msg.payload.available_supply);\nglobal.set(\"last_updated\",msg.payload.last_updated);\nglobal.set(\"percent_change_1h\",msg.payload.percent_change_1h);\nglobal.set(\"percent_change_24h\",msg.payload.percent_change_24h);\nglobal.set(\"percent_change_7d\",msg.payload.percent_change_7d);\nglobal.set(\"price_btc\",msg.payload.price_btc);\nglobal.set(\"price_usd\",msg.payload.price_usd);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["654f6cb6.f90be4"]]},{"id":"80d5a217.19e88","type":"function","z":"c005d96a.38d7d8","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":360,"wires":[["ecf4d50e.19d048"]]},{"id":"f4f83195.c65aa","type":"debug","z":"c005d96a.38d7d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":100,"wires":[]},{"id":"9f0fb3d6.a5254","type":"ui_text","z":"c005d96a.38d7d8","group":"7e8d77c1.062278","order":2,"width":0,"height":0,"name":"","label":"h24_volume_usd","format":"{{msg.payload.h24_volume_usd}}","layout":"row-spread","x":450,"y":440,"wires":[]},{"id":"ecf4d50e.19d048","type":"ui_text","z":"c005d96a.38d7d8","group":"be0cf238.0032c","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":240,"wires":[]},{"id":"970464f4.e4f698","type":"ui_text","z":"c005d96a.38d7d8","group":"7e8d77c1.062278","order":2,"width":0,"height":0,"name":"","label":"available_supply","format":"{{msg.payload.available_supply}}","layout":"row-spread","x":480,"y":480,"wires":[]},{"id":"66b995e1.7a47cc","type":"ui_text","z":"c005d96a.38d7d8","group":"7e8d77c1.062278","order":2,"width":0,"height":0,"name":"","label":"last_updated","format":"{{msg.payload.last_updated}}","layout":"row-spread","x":449.00000381469727,"y":528.000020980835,"wires":[]},{"id":"1cd3ae5.6afeb52","type":"ui_form","z":"c005d96a.38d7d8","name":"","label":"","group":"be0cf238.0032c","order":0,"width":0,"height":0,"options":[{"label":"h24_volume_usd","value":"h24_volume_usd","type":"number","required":true},{"label":"available_supply","value":"available_supply","type":"number","required":true},{"label":"last_updated","value":"last_updated","type":"number","required":true},{"label":"percent_change_1h","value":"percent_change_1h","type":"number","required":true},{"label":"percent_change_24h","value":"percent_change_24h","type":"number","required":true},{"label":"percent_change_7d","value":"percent_change_7d","type":"number","required":true},{"label":"price_btc","value":"price_btc","type":"number","required":true},{"label":"price_usd","value":"price_usd","type":"number","required":true}],"formValue":{"h24_volume_usd":"","available_supply":"","last_updated":"","percent_change_1h":"","percent_change_24h":"","percent_change_7d":"","price_btc":"","price_usd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":480,"wires":[["9f0fb3d6.a5254","970464f4.e4f698","66b995e1.7a47cc","bef025dd.f10868","30bc3456.4111ac","33900547.3faf0a","e0766d82.5afbe","d6883350.ebaef","9f5dc753.a7a7c8"]]},{"id":"30bc3456.4111ac","type":"ui_text","z":"c005d96a.38d7d8","group":"7e8d77c1.062278","order":0,"width":0,"height":0,"name":"","label":"percent_change_1h","format":"{{msg.payload.percent_change_1h}}","layout":"row-spread","x":455.1000061035156,"y":581.000020980835,"wires":[]},{"id":"33900547.3faf0a","type":"ui_text","z":"c005d96a.38d7d8","group":"7e8d77c1.062278","order":0,"width":0,"height":0,"name":"","label":"percent_change_24h","format":"{{msg.payload.percent_change_24h}}","layout":"row-spread","x":432.10000228881836,"y":644.0000228881836,"wires":[]},{"id":"e0766d82.5afbe","type":"ui_text","z":"c005d96a.38d7d8","group":"7e8d77c1.062278","order":0,"width":0,"height":0,"name":"","label":"percent_change_7d","format":"{{msg.payload.percent_change_7d}}","layout":"row-spread","x":427.1000061035156,"y":692.0000228881836,"wires":[]},{"id":"d6883350.ebaef","type":"ui_text","z":"c005d96a.38d7d8","group":"7e8d77c1.062278","order":0,"width":0,"height":0,"name":"","label":"price_btc","format":"{{msg.payload.price_btc}}","layout":"row-spread","x":405.10000228881836,"y":735.0000228881836,"wires":[]},{"id":"9f5dc753.a7a7c8","type":"ui_text","z":"c005d96a.38d7d8","group":"7e8d77c1.062278","order":0,"width":0,"height":0,"name":"","label":"price_usd","format":"{{msg.payload.price_usd}}","layout":"row-spread","x":364.10000228881836,"y":768.0000228881836,"wires":[]},{"id":"7e8d77c1.062278","type":"ui_group","z":"c005d96a.38d7d8","name":"Prediction","tab":"cb9a2888.eec7e8","disp":true,"width":"6","collapse":false},{"id":"be0cf238.0032c","type":"ui_group","name":"Group 1","tab":"354590ea.60ee7","order":1,"disp":true,"width":6},{"id":"354590ea.60ee7","type":"ui_tab","z":"c005d96a.38d7d8","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]