SIP ML June 3rd/TEAM  7/flows.json
[{"id":"3057cdba.4ee2a2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"53ef9cd6.0a90c4","type":"http request","z":"3057cdba.4ee2a2","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/27901af9-b7d8-43ec-b0c4-c91ba706049e/deployments/e3b916c7-299e-4472-a691-0221ef356a1a/online","tls":"","proxy":"","authType":"basic","x":755,"y":297,"wires":[["e31199d7.860dd8"]]},{"id":"e3ee0342.8ef13","type":"function","z":"3057cdba.4ee2a2","name":"prediction","func":"var token=msg.payload.token;\nvar MonthlyIncome=global.get(\"MonthlyIncome\");\nmsg.payload={\"fields\":[\"MonthlyIncome\"],\"values\":[[MonthlyIncome]]};\n//msg.payload=State;\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":217,"wires":[["53ef9cd6.0a90c4","e6864d35.f6068"]]},{"id":"e6864d35.f6068","type":"debug","z":"3057cdba.4ee2a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":715,"y":177,"wires":[]},{"id":"6291d9d5.ea7bb8","type":"http request","z":"3057cdba.4ee2a2","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","x":495,"y":77,"wires":[["eb2f524b.42fe5","e3ee0342.8ef13"]]},{"id":"d8a5a0ca.473fc","type":"inject","z":"3057cdba.4ee2a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":65,"y":97,"wires":[["392ddb7f.caed24"]]},{"id":"392ddb7f.caed24","type":"function","z":"3057cdba.4ee2a2","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"1abff9a1-8da8-451b-b07a-0419ce9b462e\"\nvar password=\"ef646232-df64-43c0-ab4d-fdcde14b376b\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"MonthlyIncome\",msg.payload.MonthlyIncome)\nreturn msg;","outputs":1,"noerr":0,"x":275,"y":57,"wires":[["6291d9d5.ea7bb8"]]},{"id":"e31199d7.860dd8","type":"function","z":"3057cdba.4ee2a2","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][1]\nreturn msg;","outputs":1,"noerr":0,"x":1015,"y":317,"wires":[["48780afe.7f17d4"]]},{"id":"eb2f524b.42fe5","type":"debug","z":"3057cdba.4ee2a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":695,"y":57,"wires":[]},{"id":"2175e82e.e45ee8","type":"ui_text","z":"3057cdba.4ee2a2","group":"62b7adc0.1b76d4","order":2,"width":0,"height":0,"name":"","label":"MonthlyIncome","format":"{{msg.payload.MonthlyIncome}}","layout":"row-spread","x":385,"y":384,"wires":[]},{"id":"48780afe.7f17d4","type":"ui_text","z":"3057cdba.4ee2a2","group":"62b7adc0.1b76d4","order":1,"width":0,"height":0,"name":"","label":"Attrition","format":"{{msg.payload}}","layout":"row-spread","x":965,"y":197,"wires":[]},{"id":"f911ef6c.39c09","type":"ui_form","z":"3057cdba.4ee2a2","name":"","label":"","group":"62b7adc0.1b76d4","order":0,"width":0,"height":0,"options":[{"label":"MonthlyIncome","value":"MonthlyIncome","type":"number","required":true}],"formValue":{"MonthlyIncome":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":95,"y":437,"wires":[["2175e82e.e45ee8","392ddb7f.caed24"]]},{"id":"62b7adc0.1b76d4","type":"ui_group","z":"3057cdba.4ee2a2","name":"Prediction","tab":"578c51fb.2dc6f","disp":true,"width":"6","collapse":false},{"id":"578c51fb.2dc6f","type":"ui_tab","z":"3057cdba.4ee2a2","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]