NITHM AI June 3rd/10 Hospitalreadmission prediction/flows (2).json
[{"id":"3dc093c2.c4dbbc","type":"tab","label":"readmission","disabled":false,"info":""},{"id":"dad1ce1a.a3747","type":"ui_form","z":"3dc093c2.c4dbbc","name":"","label":"","group":"845ae8ff.23bcd8","order":3,"width":0,"height":0,"options":[{"label":"encounter_id","value":"encounter_id","type":"number","required":true},{"label":"patient_nbr","value":"patient_nbr","type":"number","required":true},{"label":"gender","value":"gender","type":"number","required":true},{"label":"admission_type_id","value":"admission_type_id","type":"number","required":true},{"label":"discharge_disposition_id","value":"discharge_disposition_id","type":"number","required":true},{"label":"admission_source_i","value":"admission_source_i","type":"number","required":true},{"label":"time_in_hospital","value":"time_in_hospital","type":"number","required":true},{"label":"num_procedures","value":"num_procedures","type":"number","required":true},{"label":"num_medications","value":"num_medications","type":"number","required":true},{"label":"number_outpatient","value":"number_outpatient","type":"number","required":true},{"label":"number_emergency","value":"number_emergency","type":"number","required":true},{"label":"number_inpatient","value":"number_inpatient","type":"number","required":true}],"formValue":{"encounter_id":"","patient_nbr":"","gender":"","admission_type_id":"","discharge_disposition_id":"","admission_source_i":"","time_in_hospital":"","num_procedures":"","num_medications":"","number_outpatient":"","number_emergency":"","number_inpatient":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":99.5,"y":263,"wires":[["4608fb9f.943544"]]},{"id":"4608fb9f.943544","type":"function","z":"3dc093c2.c4dbbc","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"206740a1-0c6d-4f3d-a6e1-fd34919e5e1f\"\nvar password=\"f46418c8-43e9-4bd4-b4c8-cc5e5247cb44\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"encounter_id\",msg.payload.encounter_id)\nglobal.set(\"patient_nbr\",msg.payload.patient_nbr)\nglobal.set(\"gender\",msg.payload.gender)\nglobal.set(\"admission_type_id\",msg.payload.admission_type_id)\nglobal.set(\"discharge_disposition_id\",msg.payload.discharge_disposition_id)\nglobal.set(\"admission_source_i\",msg.payload.admission_source_i)\nglobal.set(\"time_in_hospital\",msg.payload.time_in_hospital)\nglobal.set(\"num_lab_procedures\",msg.payload.num_lab_procedures)\nglobal.set(\"num_procedures\",msg.payload.num_procedures)\nglobal.set(\"num_medications\",msg.payload.num_medications)\nglobal.set(\"number_outpatient\",msg.payload.number_outpatient)\nglobal.set(\"number_emergency\",msg.payload.number_emergency)\nglobal.set(\"number_inpatient\",msg.payload.number_inpatient)\nreturn msg;","outputs":1,"noerr":0,"x":286.5,"y":136,"wires":[["e959a6eb.186078"]]},{"id":"e959a6eb.186078","type":"http request","z":"3dc093c2.c4dbbc","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":464,"y":137,"wires":[["4b6a05c9.2ab44c","feeaeab9.b34638"]]},{"id":"4b6a05c9.2ab44c","type":"debug","z":"3dc093c2.c4dbbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":732,"y":125,"wires":[]},{"id":"feeaeab9.b34638","type":"function","z":"3dc093c2.c4dbbc","name":"prediction","func":"var token=msg.payload.token;\nvar encounter_id=global.get(\"encounter_id\");\nvar patient_nbr=global.get(\"patient_nbr\");\nvar gender=global.get(\"gender\");\nvar admission_type_id=global.get(\"admission_type_id\");\nvar discharge_disposition_id=global.get(\"discharge_disposition_id\");\nvar admission_source_i=global.get(\"admission_source_i\");\nvar time_in_hospital=global.get(\"time_in_hospital\");\nvar num_lab_procedures=global.get(\"num_lab_procedures\");\nvar num_procedures=global.get(\"num_procedures\");\nvar num_medications=global.get(\"num_medications\");\nvar number_outpatient=global.get(\"number_outpatient\");\nvar number_emergency=global.get(\"number_emergency\");\nvar number_inpatient=global.get(\"number_inpatient\");\nmsg.payload={\"fields\":[\"encounter_id\",\"patient_nbr\",\"gender\",\"admission_type_id\",\"discharge_disposition_id\",\"admission_source_i\",\"time_in_hospital\",\"num_lab_procedures\",\"num_procedures\",\"num_medications\",\"number_outpatient\",\"number_emergency\",\"number_inpatient\"],\"values\":[[encounter_id,patient_nbr,gender,admission_type_id,discharge_disposition_id,admission_source_i,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient]]};\nmsg.headers={'Authorization':'Bearer'+token};\nreturn msg;","outputs":1,"noerr":0,"x":501.5,"y":314,"wires":[["c2cf9cee.db832"]]},{"id":"c2cf9cee.db832","type":"http request","z":"3dc093c2.c4dbbc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/05a2897d-9212-4ab7-8ce9-df4cf955a8d3/deployments/12481b3d-b58e-4235-80d7-47f9674d5a7d/online","tls":"","proxy":"","authType":"basic","x":735,"y":322,"wires":[["9580b753.b63d88","f837af5e.f9271"]]},{"id":"9580b753.b63d88","type":"debug","z":"3dc093c2.c4dbbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940.5,"y":267,"wires":[]},{"id":"f837af5e.f9271","type":"function","z":"3dc093c2.c4dbbc","name":"o/p prasing","func":"msg.payload = msg.payload.values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"x":931.5,"y":382,"wires":[["cb95914c.79e9b"]]},{"id":"cb95914c.79e9b","type":"ui_text","z":"3dc093c2.c4dbbc","group":"845ae8ff.23bcd8","order":2,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":734,"y":496,"wires":[],"icon":"font-awesome/fa-bolt"},{"id":"c036f53a.75d1a8","type":"inject","z":"3dc093c2.c4dbbc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":61,"y":142,"wires":[["4608fb9f.943544"]]},{"id":"845ae8ff.23bcd8","type":"ui_group","z":"","name":"classification","tab":"53b46e22.eda14","disp":true,"width":"6","collapse":false},{"id":"53b46e22.eda14","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]