SIP ML June 3rd/Team 15/flows.json
[{"id":"8cd195d2.20b0c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"15b6e260.52e11e","type":"http request","z":"8cd195d2.20b0c8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/dc5b3baf-7661-4d9b-bb35-d6037b0b1a2e/deployments/ec4641d0-0ce0-42c7-afe2-5e64d5fdaae1/online","tls":"","proxy":"","x":905,"y":227,"wires":[["79fb50aa.492ff"]]},{"id":"8d01e26a.a0d86","type":"function","z":"8cd195d2.20b0c8","name":"prediction","func":"var token=msg.payload.token;\nvar Gender=global.get(\"Gender\");\nvar Age=global.get(\"Age\");\nvar Occupation=global.get(\"Occupation\");\nvar City_Category=global.get(\"City_Category\");\nvar Stay_In_Current_City_Years=global.get(\"Stay_In_Current_City_Years\");\nvar Marital_Status=global.get(\"Marital_Status\");\nvar Product_Category_1=global.get(\"Product_Category_1\");\nvar Product_Category_2=global.get(\"Product_Category_2\");\nvar Product_Category_3=global.get(\"Product_Category_3\");\n\nmsg.payload={\"fields\":[\"Gender\",\"Age\",\"Occupation\",\"City_Category\",\"Stay_In_Current_City_Years\",\"Marital_Status\",\"Product_Category_1\",\"Product_Category_2\",\"Product_Category_3\"],\"values\":[[Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3]]};\n//msg.payload=State;\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":624,"y":163,"wires":[["15b6e260.52e11e","bf3a824f.5c618"]]},{"id":"bf3a824f.5c618","type":"debug","z":"8cd195d2.20b0c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":481,"y":59,"wires":[]},{"id":"e4f60fad.b5f76","type":"http request","z":"8cd195d2.20b0c8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","x":599,"y":308,"wires":[["1f51722c.daf33e","8d01e26a.a0d86"]]},{"id":"5e4dd60b.a49e88","type":"inject","z":"8cd195d2.20b0c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":100,"wires":[["73570594.65abec"]]},{"id":"73570594.65abec","type":"function","z":"8cd195d2.20b0c8","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"d052f2e5-249b-4f4a-a390-7a302f189479\"\nvar password=\"70a3c08c-d676-49a9-aa45-ef7c2edb6ae8\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"Gender\",msg.payload.Gender)\nglobal.set(\"Age\",msg.payload.Age)\nglobal.set(\"Occupation\",msg.payload.Occupation)\nglobal.set(\"City_Category\",msg.payload.City_Category)\nglobal.set(\"Stay_In_Current_City_Years\",msg.payload.Stay_In_Current_City_Years)\nglobal.set(\"Marital_Status\",msg.payload.Marital_Status)\nglobal.set(\"Product_Category_1\",msg.payload.Product_Category_1)\nglobal.set(\"Product_Category_2\",msg.payload.Product_Category_2)\nglobal.set(\"Product_Category_3\",msg.payload.Product_Category_3)\n\nreturn msg;","outputs":1,"noerr":0,"x":317,"y":266,"wires":[["e4f60fad.b5f76"]]},{"id":"79fb50aa.492ff","type":"function","z":"8cd195d2.20b0c8","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":959,"y":67,"wires":[["33e104c2.8de54c"]]},{"id":"1f51722c.daf33e","type":"debug","z":"8cd195d2.20b0c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":968,"y":505,"wires":[]},{"id":"4c50bc56.a90a44","type":"ui_text","z":"8cd195d2.20b0c8","group":"8c152cf9.bb34c","order":2,"width":0,"height":0,"name":"","label":"Gender","format":"{{msg.payload.Gender}}","layout":"row-spread","x":448,"y":434,"wires":[]},{"id":"33e104c2.8de54c","type":"ui_text","z":"8cd195d2.20b0c8","group":"8c152cf9.bb34c","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1064,"y":159,"wires":[]},{"id":"b6817287.bc69c","type":"ui_text","z":"8cd195d2.20b0c8","group":"8c152cf9.bb34c","order":2,"width":0,"height":0,"name":"","label":"Age","format":"{{msg.payload.Age}}","layout":"row-spread","x":296,"y":497,"wires":[]},{"id":"f4f0ab09.5c4148","type":"ui_text","z":"8cd195d2.20b0c8","group":"8c152cf9.bb34c","order":2,"width":0,"height":0,"name":"","label":"Occupation","format":"{{msg.payload.Occupation}}","layout":"row-spread","x":318,"y":554,"wires":[]},{"id":"c6d97973.0b22e8","type":"ui_form","z":"8cd195d2.20b0c8","name":"","label":"","group":"8c152cf9.bb34c","order":1,"width":0,"height":0,"options":[{"label":"Gender","value":"Gender","type":"number","required":true},{"label":"Age","value":"Age","type":"number","required":true},{"label":"Occupation","value":"Occupation","type":"number","required":true},{"label":"City_Category","value":"City_Category","type":"number","required":true},{"label":"Stay_In_Current_City_Years","value":"Stay_In_Current_City_Years","type":"number","required":true},{"label":"Marital_Status","value":"Marital_Status","type":"number","required":true},{"label":"Product_Category_1","value":"Product_Category_1","type":"number","required":true},{"label":"Product_Category_2","value":"Product_Category_2","type":"number","required":true},{"label":"Product_Category_3","value":"Product_Category_3","type":"number","required":true}],"formValue":{"Gender":"","Age":"","Occupation":"","City_Category":"","Stay_In_Current_City_Years":"","Marital_Status":"","Product_Category_1":"","Product_Category_2":"","Product_Category_3":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":85,"y":407,"wires":[["4c50bc56.a90a44","b6817287.bc69c","f4f0ab09.5c4148","73570594.65abec","8b457054.de5f9","81a12a36.026db8","ab8933b4.57cdb","5cad3ccb.cf0db4","dfcd6ebe.8e098","c771b488.5bdd38"]]},{"id":"8b457054.de5f9","type":"ui_text","z":"8cd195d2.20b0c8","group":"8c152cf9.bb34c","order":0,"width":0,"height":0,"name":"","label":"City_Category","format":"{{msg.payload.City_Category}}","layout":"row-spread","x":296,"y":598,"wires":[]},{"id":"81a12a36.026db8","type":"ui_text","z":"8cd195d2.20b0c8","group":"8c152cf9.bb34c","order":0,"width":0,"height":0,"name":"","label":"Stay_In_Current_City_Years","format":"{{msg.payload.Stay_In_Current_City_Years}}","layout":"row-spread","x":298,"y":638,"wires":[]},{"id":"ab8933b4.57cdb","type":"ui_text","z":"8cd195d2.20b0c8","group":"8c152cf9.bb34c","order":0,"width":0,"height":0,"name":"","label":"Marital_Status","format":"{{msg.payload.Marital_Status}}","layout":"row-spread","x":231,"y":685,"wires":[]},{"id":"5cad3ccb.cf0db4","type":"ui_text","z":"8cd195d2.20b0c8","group":"8c152cf9.bb34c","order":0,"width":0,"height":0,"name":"","label":"Product_Category_1","format":"{{msg.payload.Product_Category_1}}","layout":"row-spread","x":220,"y":730,"wires":[]},{"id":"dfcd6ebe.8e098","type":"ui_text","z":"8cd195d2.20b0c8","group":"8c152cf9.bb34c","order":0,"width":0,"height":0,"name":"","label":"Product_Category_3","format":"{{msg.payload.Product_Category_3}}","layout":"row-spread","x":585,"y":537.0000057220459,"wires":[]},{"id":"c771b488.5bdd38","type":"ui_text","z":"8cd195d2.20b0c8","group":"8c152cf9.bb34c","order":0,"width":0,"height":0,"name":"","label":"Product_Category_2","format":"{{msg.payload.Product_Category_2}}","layout":"row-spread","x":547,"y":595.0000057220459,"wires":[]},{"id":"8c152cf9.bb34c","type":"ui_group","z":"8cd195d2.20b0c8","name":"Prediction","tab":"c6082587.462af8","disp":true,"width":"6","collapse":false},{"id":"c6082587.462af8","type":"ui_tab","z":"8cd195d2.20b0c8","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]