SIP ML June 3rd/Team-17/flows (1).json
[{"id":"4080de3d.5a79d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6c5595c4.ce41ec","type":"ui_group","z":"4080de3d.5a79d","name":"Prediction","tab":"6761484c.f78cf8","disp":true,"width":"6","collapse":false},{"id":"6761484c.f78cf8","type":"ui_tab","z":"4080de3d.5a79d","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a31a5c72.86497","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"671982c9.e3479c","type":"http request","z":"4080de3d.5a79d","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/6db22a23-2c11-433b-86ef-a2ff51f7a0b1/deployments/21fb6f3a-5650-4199-ade4-e99cdd4e8a6f/online","tls":"","proxy":"","authType":"","x":786,"y":340,"wires":[["3ba9110c.33a87e","10573277.837eee"]]},{"id":"9282d299.d204d","type":"function","z":"4080de3d.5a79d","name":"prediction","func":"var token=msg.payload.token;\nvar Day=global.get(\"Day\");\nvar Hour=global.get(\"Hour\");\nvar Month=global.get(\"Month\");\nvar Latitude=global.get(\"Latitude\");\nvar Longitude=global.get(\"Longitude\");\nmsg.payload={\"fields\":[\"Day\",\"Hour\",\"Month\",\"Latitude\",\"Longitude\"],\"values\":[[Day,Hour,Month,Latitude,Longitude]]};\n//msg.payload=State;\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":304,"y":260,"wires":[["671982c9.e3479c","245edf0.bb48b22"]]},{"id":"245edf0.bb48b22","type":"debug","z":"4080de3d.5a79d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":715,"y":220,"wires":[]},{"id":"3a050b56.4af374","type":"http request","z":"4080de3d.5a79d","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","x":495,"y":120,"wires":[["f3928bd.58ab378","9282d299.d204d"]]},{"id":"d4bd05da.274188","type":"inject","z":"4080de3d.5a79d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":65,"y":140,"wires":[["6aa3e308.cc91ec"]]},{"id":"6aa3e308.cc91ec","type":"function","z":"4080de3d.5a79d","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"68e1de38-78b0-4244-a0fe-9618ca6cf9e2\"\nvar password=\"629deaeb-8279-4129-b94d-9db1cc4fadac\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"Day\",msg.payload.Day)\nglobal.set(\"Hour\",msg.payload.Hour)\nglobal.set(\"Month\",msg.payload.Month)\nglobal.set(\"Latitude\",msg.payload.Latitude)\nglobal.set(\"Longitude\",msg.payload.Longitude)\n\nreturn msg;","outputs":1,"noerr":0,"x":275,"y":101,"wires":[["3a050b56.4af374"]]},{"id":"3ba9110c.33a87e","type":"function","z":"4080de3d.5a79d","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1015,"y":360,"wires":[["538eeff5.e852a"]]},{"id":"f3928bd.58ab378","type":"debug","z":"4080de3d.5a79d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":695,"y":100,"wires":[]},{"id":"a62a6325.ce575","type":"ui_text","z":"4080de3d.5a79d","group":"6c5595c4.ce41ec","order":2,"width":0,"height":0,"name":"","label":"Day","format":"{{msg.payload.Day}}","layout":"row-spread","x":375,"y":440,"wires":[]},{"id":"538eeff5.e852a","type":"ui_text","z":"4080de3d.5a79d","group":"6c5595c4.ce41ec","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":965,"y":240,"wires":[]},{"id":"b8947c75.be055","type":"ui_text","z":"4080de3d.5a79d","group":"6c5595c4.ce41ec","order":2,"width":0,"height":0,"name":"","label":"Hour","format":"{{msg.payload.Month}}","layout":"row-spread","x":415,"y":480,"wires":[]},{"id":"864c9fdf.6c46","type":"ui_text","z":"4080de3d.5a79d","group":"6c5595c4.ce41ec","order":2,"width":0,"height":0,"name":"","label":"Month","format":"{{msg.payload.Latitude}}","layout":"row-spread","x":335,"y":580,"wires":[]},{"id":"a353133b.748ca","type":"ui_text","z":"4080de3d.5a79d","group":"6c5595c4.ce41ec","order":2,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload.Latitude}}","layout":"row-spread","x":345,"y":640,"wires":[]},{"id":"d1a19e48.392f1","type":"ui_form","z":"4080de3d.5a79d","name":"","label":"","group":"6c5595c4.ce41ec","order":0,"width":0,"height":0,"options":[{"label":"Day","value":"Day","type":"number","required":true},{"label":"Hour","value":"Hour","type":"number","required":true},{"label":"Month","value":"Month","type":"number","required":true},{"label":"Latitude","value":"Latitude","type":"number","required":true},{"label":"Longitude","value":"Longitude","type":"number","required":true}],"formValue":{"Day":"","Hour":"","Month":"","Latitude":"","Longitude":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":95,"y":480,"wires":[["a62a6325.ce575","b8947c75.be055","864c9fdf.6c46","6aa3e308.cc91ec","a353133b.748ca","e94af369.616fa"]]},{"id":"10573277.837eee","type":"debug","z":"4080de3d.5a79d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1011.5,"y":460,"wires":[]},{"id":"e94af369.616fa","type":"ui_text","z":"4080de3d.5a79d","group":"6c5595c4.ce41ec","order":2,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload.Longitude}}","layout":"row-spread","x":365.5,"y":707,"wires":[]}]